/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 /* Start digital__clock_wrap styles */
 .digital__clock_wrap {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2e44;
 }

 /* End digital__clock_wrap styles */

 /* Start digital-clock styles */
 
 .digital__clock {
    position: relative;
    color: #fff;
    background: #2d2f41;
    width: 425px;
    padding: 25px 45px;
    box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* End digital-clock styles */


/* Start Time styles */

.time {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Time styles */

/* Start hour, dots, minutes styles */

.hours, .dots, .minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 10px;
    line-height: 125px;
}

.hours, .minutes {
    font-size: 6.5em;
    width: 125px;
}

.dots {
    font-size: 5em;
    color: #929292;
}

.hours {
    background: -webkit-linear-gradient(90deg, #634dff, #5fd4ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.minutes {
    background: -webkit-linear-gradient(90deg, #ff5e9a, #ffb960);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* End hour, dots, minutes styles */


/* Start right-side styles */

.right-side {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}
/* End right-side styles */

/* Start period, seconds styles */

.period, .seconds {
    font-size: 1.2em;
    font-weight: 500;
}

.period {
    transform: translateY(-20px);
    background: -webkit-linear-gradient(90deg, #f7b63f, #faf879);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.seconds {
    transform: translateY(16px);
    background: -webkit-linear-gradient(90deg, #24ff6d, #2f93f1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* End period, seconds styles */

/* Start calendar styles */

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(90deg, #ae4af6, #ff98d1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* End calendar styles */

/* Start day__name, day__number, year styles */

.day__name, .day__number, .year {
margin-left: 8px;
}

/* End day__name, day__number, year styles */

/* Start dot__menu_btn styles */

.dot__menu_btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: #efefef;
    font-size: 1.5em;
    cursor: pointer;
}
/* End dot__menu_btn styles */

/* Start dot__menu styles */
.dot__menu {
    z-index: 999;
    list-style: none;
    background-color: #353e54;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

/* End dot__menu styles */

/* Start menu__item styles */
.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End menu__item styles */

/* End clock__format_text styles */

.clock__format_text {
    color: #efefef;
    font-size: 0.9em;
    margin-right: 20px;
}
/* End clock__format_text styles */

/* Start format switch btn styles */

.format__switch_btn {
    width: 35px;
    height: 15px;
    background: #485470;
    border-radius: 75px;
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                inset -2px -2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.format__switch_btn::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #ff5e9a;
    border-radius: 50%;
    box-shadow: 0 5px 25px #ff5e9a;
    transform: translateX(-10px);
}
/* End format__switch_btn styles */